*.conda/
*.json
**/shelf
**/workspace.xml
**/.bash_history

*.bash_history
#       ../.cache/
#       ../.conda/
#       ../.condarc
#       ../.continuum/
#       ../.dotnet/
#       ../.gitconfig
#       ../.gitignor
#       ../.idea/
#       ../.idlerc/
#       ../.ipynb_checkpoints/
#       ../.ipython/
#       ../.jupyter/
#       ../.lesshst
#       ../.m2/
#       ../.matplotlib/
#       ../.templateengine/
#       ../.viminfo
#       ../.vscode/
#       ../3D Objects/
#       ../AppData/
#       ../Contacts/
#       ../Desktop/
#       ../Documents/
#       ../Favorites/
#       ../Heaven/
#       ../Links/
#       ../Music/
#       ../NTUSER.DAT
#       ../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
#       ../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
#       ../OneDrive/
#       ../Pictures/
#       ../PycharmProjects/
#       ../Saved Games/
#       ../Searches/
#       ../Sti_Trace.log
#       ../Unigine_Heaven_Benchmark_4.0_20210612_1220.html
#       ../Untitled.ipynb
#       ../Videos/
#       ../YandexDisk-AbkbfkAUEG/
#       ../YandexDisk-ajnjgthtckflb/
#       ../YandexDisk-peresvladi/
#       ../YandexDisk-v.obovsem/
#       ../YandexDisk/
#       ../anaconda3/
#       ../git_carantin/
#       ../ntuser.dat.LOG1
#       ../ntuser.dat.LOG2
#       ../ntuser.ini
#       ../test33.java
#       "../\320\224\320\273\321\217\320\257\320\275\320\264\320\224\320\270\321\201\320\272/"